
@{
    ViewData["Title"] = "AboutUs";
}

<h1>AboutUs</h1>

<p>
    Ich kann zwar gut programmieren, jedoch Rechtschreibung und Design zählen nicht zu meinen Stärken
</p>
    <img src="../pictures/me.png" />
