
@{
    ViewData["Title"] = "Prices";
}

<h1>Prices</h1>

<img class="abos" src="../pictures/basic.png" />
<img class="abos" src="../pictures/advanced.png" />
<img class="abos" src="../pictures/pro.png" />