<ul>
    <li>
        <a asp-controller="home" asp-action="index">Startseite</a>
    </li>
    <li>
        <a asp-controller="service" asp-action="map">Map</a>
    </li>
    <li>
        <a asp-controller="service" asp-action="prices">Preise</a>
    </li>
</ul>