<ul>
    <li>
        <a asp-controller="home" asp-action="index"><img class="navi" src="../pictures/home.png" /></a>
    </li>
    <li>
        <a asp-controller="service" asp-action="map"><img class="navi" src="../pictures/map.png" /></a>
    </li>
    <li>
        <a asp-controller="service" asp-action="prices"><img class ="navi" src="../pictures/abo.png" /></a>
    </li>
</ul>