<form action="/action_page.php">
    <p>Login</p>
    <label for="uname">Username:</label>
    <input type="text" id="uname" name="uname"><br><br>
    <label for="pw">Password:</label>
    <input type="password" id="pw" name="pw"><br><br>
    <input type="button" value="Submit"><input type="button" value="Register">
</form>