@model Webprojekt_Simma_Fitnessstudio.Models.User
    <form asp-controller="user" asp-action="index" method="post">
        <p>Login</p>

        <label asp-for="UserName">Username</label>
        <input asp-for="UserName" /><br />

        <label asp-for="Password">Passwort </label>
        <input asp-for="Password" type="password" /><br />

        <input type="submit" value="Anmelden" />
        <button asp-controller="user" asp-action="registrieren">Registrieren</button>

    </form>