@using Webprojekt_Simma_Fitnessstudio.Models
@using Microsoft.AspNetCore.Http;
@using Webprojekt_Simma_Fitnessstudio.Models.DB
@model User
@{
    ViewData["Title"] = "Index";
}

@if (@Context.Session.GetString("username") == null)
{
    <p>Sie sind nicht angemeldet!</p>
    <br />
    <a asp-controller="user" asp-action="login" id="login">Login</a>
    <a asp-controller="user" asp-action="registrieren">Registrieren</a>

}
else
{
    //<p>@Context.Session.GetString("username")</p>

    <div id="userTable">

    </div>

    <a asp-controller="user" asp-action="abmelden" >Abmelden</a>


}
@section Scripts{
    <script src="~/js/userPage.js"></script>
}


