#container {
    
    width: 80%;
    min-width: 800px;
    margin: 0px auto;
}

body {
    background-image: url("../pictures/Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}
header {
    background-color: #272727;
    opacity: 0.9;
    min-height: 80px;
    color: darkorange;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
main {
}
nav {
    height: 1500px;
    width: 15%;
    min-width: 150px;
    float:left;
    background-color: #ff652f;
    opacity: 0.9;
}
nav ul {
    list-style-type: none;
    padding: 20px 0px 0px 20px;
}
nav li{
    margin:10px;
}
content {
    background-color: #272727;
    height: 1500px;
    width: 85%;
    min-width: 450px;
    float: left;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 20px 10px 10px 10px;
    color: #ff652f;
}
.navi {
    width: 60%;
    height: 25%;
}
footer {
    background-color: #272727;
    opacity: 0.9;
    min-height: 42px;
    clear: both;
}
footer a {
    width: auto;
    float: right;
    text-align: right;
    padding: 5px;

}
nav a:hover{
   padding-top: 50px;
   padding-bottom: 50px;
   padding-left: 25px;
   padding-right: 45px;
   background-color:orangered;
}
footer a:hover {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 8px;
    background-color: darkred;
}
.abos{
    width:150px;
    height:276x;
    margin:30px;
}
.abos:hover{
    height:306px;
    width:180px;
    margin:0px;
}
.displayer {
    color: white;
    font-size: larger;
}
img{
    width:80%;
}